/*Universal styles
font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display', serif;
*/

html {
font-size: 16px;
font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  color: #cfb344;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.25rem;
  color: #333;
  line-height: 1.4;
  letter-spacing: 0.02em;
}

h4{
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.05em;
  color: #333;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: #333;
  line-height: 1.6;
}

#container {
  width: 100%;
  position: relative;
  top: 4rem;
}

/*Header*/

#header {
  background-color: #fff;
  width: 100%;
  z-index: 2;
  position: fixed;
  padding: 1rem 1.5rem;
  height: 2rem;
  display: flex;
  align-items: center;
}

.logo {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 2rem;
  color: #192761;
  padding-right: 0.3rem;
}

.logotext {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #cfb344;
}

.logotext strong {
  font-weight: 700;
  padding: 0 0.3rem;
  color: #192761;
}

nav {
  flex-grow: 1;
  text-align: right;
  margin-right: 1.5rem;
}

nav span {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: flex-end;
}

nav a {
  font-family: 'Roboto', sans-serif;
  padding: 0 16px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #333;
  transition: color 500ms ease;
  align-items: center;
}

nav a:hover {
  color: #cfb344;
}

/*Banner*/

.banner {
  background-color: #192761;
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: center;
}

.banner img {
  width:60%;
  height: 60%;
}

.banner .text {
  display: inline-flex;
  flex-direction: column;
  color: #fff;
  font-weight: 400;
}

.banner .text h5 {
  font-size: 1.25rem;
}

.banner .text .spacing {
  margin-top: 2rem;
}

button {
  background-color: #fff;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  width: 80%;
  transition: background-color 750ms ease-in 0.2s;
  border: none;
}

button a {
  color: #192761;
  font-weight: 700;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

button:hover {
  background-color: #cfb344;
}

/*About*/

.about {
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: center;
}
.about .left {
  width: 60%;

}

.about .left img {
  width:100%;
  padding-bottom: 1rem;
}

.about .left h2 {
  padding-bottom: 1rem;
}

.about .left p {
  padding-bottom: 0.5rem;
}

.about .left .author {
  font-size: 0.8rem;
  font-weight: 400;
  color: #192761;
}

.about .right .mobile {
  display: none;
}

.about .right {
  width: 40%;
  position: relative;
  height: 100%;
  margin-left: 1.5rem;
  float: left;
}

.about .info {
  background-color: #fff;
  padding: 1rem 1rem;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  transition: background-color 750ms ease-in 0.05s;
}

.about .info:hover {
  background-color: #EEE5BE;
  border: none;
}

.about .info img {
  width: 35%;
  height: 35%;
  padding-right: 1rem;
}

.about .info .blue {
  color: #192761;
  text-decoration: none;
  font-weight: 400;
}

.about .infotext {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

/*Courses*/

.courses {
  padding: 2rem 4.5rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.courses h2 {
  text-align: center;
}

.coursesflex {
  width: 100%;
}

.departments {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.item{
  padding: 2rem 1rem 0 1rem;
  width: 33.333%;
  box-sizing: border-box
}

.item a {
  transition: opacity 500ms ease;
}
.item a:hover {
  opacity: 0.7;
}

.item h4 {
  padding: 1rem 1rem 0 1rem;
}

.item p {
  padding: 0.5rem 1rem 0 1rem;
  color: #333;
}

.item .uppercase {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.item img{
  width: 100%;
  height: auto;
}

/*Thesis*/

.exhibit {
  margin: 2rem 1.5rem;
}

.exhibit h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.thesis {
  display: flex;
  justify-content: center;
}

.thesis .left {
  width: 60%;
}

.thesis .left video {
  width:100%;
  padding-bottom: 1.5rem;
}

.thesis .left h4 {
  padding-bottom: 0.5rem;
}

.thesis .right {
  width: 40%;
  position: relative;
  height: 100%;
  margin-left: 1.5rem;
}

.thesis .info {
  background-color: #fff;
  padding: 1rem 1rem;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  transition: background-color 750ms ease-in 0.05s;
}

.thesis .info:hover {
  background-color: #EEE5BE;
  border: none;
}

.thesis .info img {
  width: 35%;
  height: 35%;
  padding-right: 1rem;
}

.thesis .infotext {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

/*Footer*/

footer {
  background-color: #192761;
  padding: 1rem 1.5rem 2rem 1.5rem;
}

footer span {
  font-size: 0.75rem;
  color: #fff;
  text-align: left;
}

footer a {
  font-size: 0.75rem;
  color: #fff;
  text-decoration: none;
  float: right;
  padding-left: 1.5rem;
  transition: color 500ms ease-in;
}

footer a:hover {
  color: #ccc;
}

/*Media Queries - mobile 800px*/

/*Media Queries - mobile 480px*/
